--extra-index-url https://download.pytorch.org/whl/cu118

-e git+ssh://git@github.com/Jowonji/WindHCT.git@ddec7873fe4a11d0a634f7f669b32a3fbfc1fb59#egg=basicsr

torch==2.1.0+cu118
torchvision==0.16.0+cu118

tqdm
numpy>=1.17
matplotlib
imageio
scikit-image

opencv-python
Pillow
PyYAML
lmdb
requests
scipy
addict
